@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:ital,wght@0,300;1,400&family=Roboto+Mono:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.contact_info {
    padding: 20px;
    background-color: darkseagreen;
    width: fit-content;
    margin-right: 50px;
    height: 478px;
}
.contact_me {
    max-width: 300px;
}

.contact_section {
    display: flex;
    /*margin: 5px;*/
}
.contact_section i {
    margin-right: 15px;
    font-size: 20px;
}
.contact_section p {
    font-size: 18px;
}

.contact_logos {
    margin-top: 25px;
    margin-bottom: 15px;
}

.sections {
    margin-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

