@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:ital,wght@0,300;1,400&family=Roboto+Mono:wght@100&display=swap');
/* hjælper den nye text overhovedet? */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.intro {
    padding: 15px 15px;
    margin-top: 50px;
    border: #0e490c;
    /*background-color: aqua;*/
}
.intro h3 {
    color: #0e490c;
    font-family: 'Courier New', Courier, monospace;
}

.serv {
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    /* grid-template-columns: repeat(3,1fr)); 3 på en række */
    grid-gap: 1rem ;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
    gap: 20px;
    padding: 35px 35px 35px 35px;
    /* width: 100vw; */
    /*margin: 0 auto;*/
    object-fit: cover;
}

.grid-item {
    position: relative; /*test*/
    width: 100%;
    /* height: 100%; */
    object-fit: cover;

}

.grid-item img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.image-resize {
    object-fit: cover;
    object-position: center center;
}

.grid-item:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 100, 0, 0.2), 0 6px 20px 0 rgba(86, 213, 86, 0.7);
}


.kas {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 20px;
}


.text_on_img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 10px;
    text-align: flex-start; /* Center the text within the overlay */
    opacity: 0; /* Initially hide the text_on_img */
    transition: opacity 0.3s ease; /* Smooth transition effect */
    /* pointer-events: none; use when OnClick*/ 
}

.kas {
    position: relative;
     z-index: 2; /* er der en bedre måde at gøre det på? */
}

.grid-item:hover .text_on_img {
   opacity: 1; /* Show the text_on_img on hover */
   z-index: 1; /* er der en bedre måde at gøre det på? */
}

.text_on_img h2 {
    color: #0e490c;
}

.text_on_img h3 {
    color: darkolivegreen;
    font-weight: bold;
}

.text_on_img h5 {
    line-height: 1.5;
    font-weight: bolder;
}

/* .grid-item.active .text_on_img {
    opacity: 1; /* Show the text_on_img on click 
} */

.price_list {
    list-style: none;
    padding: 0;
    /*text-align: left;*/
    justify-content: center;
}

.price_list li {
    margin-bottom: 5px;
}
.price_list {
    font-size: 17px;
    font-weight: bold;
}


