@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Open+Sans:ital,wght@0,300;1,400&family=Roboto+Mono:wght@100&display=swap');

/* html {
    font-family: "Montserrat", sans-serif;
} */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*background-color: #76e374;*/
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
    background-color: #6aaf53;
    z-index: 1000;
}


.nav_links {
    list-style-type: none;
    display: flex;
    /*padding: 0 20px;*/
    margin: 5px;
    /*background-color: #c2e0b9;*/
}

.nav_links li a {
    transition: all 0.4s ease 0.1s;
    border-radius: 15px;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    /*background-color: #198015;*/
    border: none;
}

.nav_links li a:hover {
    background-color: #0e490c;
}

/*DET VIRKER IKKE HELT EFTER HENSIGTEN, NÅR LOGO ER WRAPPED I A-LINK*/
.logo {
    cursor: pointer;
    margin-right: auto;
    padding: 0;
    max-height: 60px;
}
